<%def name="menu(selected)">
	    <ul class="nav">
	    % if selected == "homepage":
			<li><a class="active" href="/">首页</a></li>
		% else:
		    <li><a href="/">首页</a></li>
		% endif
		
		% if selected == "day":
			<li><a class="active" href="/list/day">每天</a></li>
		% else:
			<li><a href="/list/day">每天</a></li>
		% endif
		
		% if selected == "hour":
			<li><a class="active" href="/list/hour">小时</a></li>
		% else:
			<li><a href="/list/hour">小时</a></li>
		% endif
		
		% if selected == "host":
			<li><a class="active" href="/list/host">分组</a></li>
		% else:
			<li><a href="/list/host">分组</a></li>
		% endif
		
		% if selected == "realtime":
			<li><a class="active" href="/list/realtime">监控</a></li>
		% else:
			<li><a href="/list/realtime">监控</a></li>
		% endif
		% if selected in ['devices','deviceitems','cmpitem'] :
			<li><a class="active" href="/devices">主机</a></li>
		% else:
			<li><a href="/devices">主机</a></li>
		% endif
		
		% if selected == "speed":
			<li><a class="active" href="/speed" style="display:none;">速度</a></li>
		% else:
			<li><a href="/speed" style="display:none;">速度</a></li>
		% endif
		
		% if selected == "events":
			<li><a class="active" href="/events">事件</a></li>
		% else:
			<li><a href="/events">事件</a></li>
		% endif
		
		% if selected == "alert":
			<li><a class="active" href="/alert">报警</a></li>
		% else:
			<li><a href="/alert">报警</a></li>
		% endif
		
		% if selected == "contacts":
			<li><a class="active" href="/contacts">联系人</a></li>
		% else:
			<li><a href="/contacts">联系人</a></li>
		% endif
	    </ul>
</%def>

<%def name="footer()">
<div class="footer">
            <div class="footer_pypowered"><a href="http://www.python.org/" title="The Python Language Site"><img src="/img/python-logo.gif" width="88" height="30" alt="Python" class="pypowered" /></a></div>
            <p class="copyright">Website content copyright &copy; by YourSiteInc-OPSTeam. All rights reserved. tonycai321(&amp;)gmail.com</p>
        </div>
</%def>
